@import "tailwindcss";

* {
  font-family: 'Montserrat';
}

.font-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-public_sans {
  font-family: 'Public Sans', sans-serif;
}

.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-oswald {
  font-family: 'Oswald', serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.break-last {
  display: inline;
}

@media (max-width: 480px) {
  .break-last {
    display: block;
  }
}

.subtitle-mobile-90 {
  font-size: 100%;
}
.des-mobile-90 {
  font-size: 100%;
}
@media (max-width: 640px) { /* mobile breakpoint phổ biến */
  .subtitle-mobile-90 {
    font-size: 100%;
  }
  .des-mobile-90 {
    font-size: 82%;
  }
}